
.container input{
    border-radius: 15px;
    text-align: center;
    border: 2px solid #ccff33;
    color: #000;
    background: #fff;
    padding: 6px;
}

.container button{
    border-radius: 15px;
    border: 2px solid #ccff33;
    cursor: pointer;
    text-align: center;
    margin: 6px;
    transition: 0.25s;
    background: #fff;
    padding: 6px;
}

.container button:hover{
    background: #fff;
    box-shadow: 0 0 10px #ccff33, 0 0 40px #ccff33, 0 0 60px #ccff33;
}