
.cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    justify-items: center;
    gap: 40px;
}

@media screen and (max-width:906px){
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:1546px){
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}