

/* .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #9ef01a;
    position: relative;
    bottom: 370px;
} */


.nav{
    position: fixed;
    top: 0;
    left: 90px;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.7s;
    border-radius: 20px;
    border: 2px solid #9ef01a;
    margin-top: 5px;
}


.boton1{
    border-radius: 15px;
    border: 2px solid #9ef01a;
    cursor: pointer;
    text-align: center;
    margin: 6px;
    transition: 0.5s;
    background: #fff;
    padding: 6px;
}

.boton1:hover{
    opacity: 0.85;
    box-shadow: 0 0 10px #9ef01a, 0 0 40px #9ef01a, 0 0 60px #9ef01a;
    transform: translateY(-5px);
}

.boton2{
    border-radius: 15px;
    border: 2px solid #9ef01a;
    cursor: pointer;
    text-align: center;
    margin: 6px;
    transition: 0.5s;
    background: #fff;
    padding: 6px;
}

.boton2:hover{
    opacity: 0.85;
    box-shadow: 0 0 10px #9ef01a, 0 0 40px #9ef01a, 0 0 60px #9ef01a;
    transform: translateY(-5px);
}